.view {
    height: 100% ;
    width: 100% ;
    background-color: rgba(1, 1, 1, 0.6);
    margin-left: 20px;
    padding: 50px;
}

.header_txt {
    font-family: Montserrat;
    font-weight: 200;
    color: white;
    line-height: 10px;
}

.image_placeholder {
    border: 1px solid white ;
    width: 350px;
    height: 600px;
}

.image_placeholder p {
    text-align: center;
    color: honeydew;
    justify-content: center;
}

.fav_icon {
    position: relative;
    left: 300px;
    bottom: 50px;
    cursor: pointer;
    
}

.footer {
    position: relative;
    top: 20px;
}

.left_arw {
    position: relative;
    justify-content: left;
    left: 1px;
}

.right_arw {
    position: relative;
    justify-content: right;
    left: 290px;
}